.RRT__container {
  position: relative;
}

/****************************/
/******** tab styles ********/
/****************************/
.RRT__tabs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.RRT__accordion {
  flex-direction: column;
}

.RRT__tab {
    cursor: pointer;
    z-index: 1;
    white-space: nowrap;
    padding: 0.7em 1em;
    padding: 10px 20px;
    color: #030f21;
    border-top-right-radius: 10px;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    display: inline-block;
}
.RRT__tab--selected {
    background: #030f21;
    color: #fff;
    border-bottom: 2px solid #ff0000;
}
.count {
    background: #ff0000;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
    line-height: 1;
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    min-width: 30px;
    text-align: center;
}
/****************************/
/********* panel styles *****/
/****************************/
.RRT__panel {
    padding: 65px 70px;
    background: #fff;
}

.RRT__accordion .RRT__panel {
  margin-top: 0;
}

/****************************/
/******* showmore control ***/
/****************************/
.RRT__showmore {
  background: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  z-index: 1;
  white-space: nowrap;
  margin-left: -1px;
  position: relative;
}

.RRT__showmore-label {
  padding: .7em 1em;
  position: relative;
  bottom: -1px;
  z-index: 1;
}

.RRT__showmore-label--selected {
  background-color: #eee;
}

.RRT__showmore-list {
  position: absolute;
  right: -1px;
  top: 100%;
  display: none;
}

.RRT__showmore-list--opened {
  display: block;
}

/****************************/
/********** inkbar **********/
/****************************/
.RRT__inkbar-wrapper {
  width: 100%;
}

.RRT__inkbar {
  position: relative;
  bottom: 0;
  height: 2px;
  margin-top: -2px;
  background-color: deepskyblue;
  transition: left 800ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 2;
}
